body, html{
  height:100%;
}
body{
  background: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
  /*background-color:#444;*/
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  /*float:right;*/
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.inputs{
  position: absolute;
  bottom: 15px;
  margin: 20px;
  text-align: center;
  border: 2px solid white;
  background-color: black;
  border-radius: 5px;
}

p{
  display: inline-block;
  margin: 10px 15px;
}
input {
  width: 40px;
}

#ball{
  border: 10px solid cyan;
  opacity: 0.35;
  border-radius: 10px;
  position: absolute;
  display: none;
}
.secondbar { 
  margin: 5px;
  text-align: center;
}
#polarball {
  display: inline-block;
  border: 2px solid white;
  background-color: #700031;
  border-radius: 5px;
}
button {
  float: right;
  margin: 5px;
}